$font-system: -apple-system, BlinkMacSystemFont, Arial, Roboto, 'Segoe UI',
  'Microsoft Sans Serif', sans-serif;

$bold: 700;
$medium: 500;
$light: 300;

$line-height: 1.5;
$letter-spacing: -0.01em;
